<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>You're Invited!</title>
</head>
<body>
    <h2>Hello <strong th:text="${to}">!!!</strong></h2>

    <p>You have been invited to join <strong th:text="${companyName}"></strong> as a <strong th:text="${role}"></strong>.</p>
    <p>Invitation sent by: <strong th:text="${senderEmail}"></strong></p>

    <p>
        <a th:href="${approvalUrl}"
           style="padding: 10px 20px; background-color: #4CAF50; color: white;
           text-decoration: none; border-radius: 5px;">Approve Invitation</a>
    </p>

    <p><strong>Note:</strong> This invitation link is valid for <strong>24 hours</strong> from the time it was sent.</p>

    <p>If you didn’t expect this invitation, you can safely ignore this email.</p>
</body>
</html>
